
@font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Regular";
                          src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Impact";
                          src: url('../fonts/Impact.ttf') format("truetype");
                        }
                        
.nuemessage2 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(76, 76, 76, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.nuemessage2 .rectangle2copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 444px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iconcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 106px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 328px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iconcamera .color {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .action {
  background-color    : rgba(255,255,255,0.0);
  top                 : 461px;
  height              : 60px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .action .rectangle2 {
  background-color    : rgba(244, 246, 250, 1.0);
  top                 : 1px;
  height              : 59px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .action .buttonmini {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 35px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .action .buttonmini .playbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 90px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .action .buttonmini .playbutton .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .action .buttonmini .playbutton .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.nuemessage2 .action .divider {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .action .divider .divider1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 4px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.3;
}
.nuemessage2 .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(45, 49, 66, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 12px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 336px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery .border {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  box-sizing          : border-box;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.35;
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery .cap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 4px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery .capacity {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2px;
  height              : 7px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-radius       : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 11px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 316px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .cellularconnection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 11px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 294px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 21px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .u21b3time {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Semibold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.28px;
  line-height         : 16.0px;
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .u21b3time .span1 {
  
}
.nuemessage2 .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .u21b3time .span2 {
  
}
.nuemessage2 .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 476px;
  height              : 30px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .add {
  background-color    : rgba(255,255,255,0.0);
  top                 : 477px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .add .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .add .group2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .add .group2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
}
.nuemessage2 .add .group2 .group .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .add .group2 .group .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .rectangle1 {
  background-color    : rgba(244, 246, 250, 1.0);
  top                 : 521px;
  height              : 291px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 521px;
  height              : 2px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 543px;
  height              : 143px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3 .rectanglecopy {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 97px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 543px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 47px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 640px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy4 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 47px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 544px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy2 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 47px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 641px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy5 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 47px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 483px;
  height              : 107px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .group3copy3 .writeamessageu2026 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.nuemessage2 .group3copy3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 61px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  border-radius       : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .attachment {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 12.0px;
}
.nuemessage2 .gif {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 12.0px;
}
.nuemessage2 .gif1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 655px;
  height              : 17px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .gif1 .gif2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Impact", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 17.0px;
}
.nuemessage2 .location {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 12.0px;
}
.nuemessage2 .photo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 555px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 318px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .photo .nounphoto374316 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .photo .nounphoto374316 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .event {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 12.0px;
}
.nuemessage2 .nounevent2075560 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 556px;
  height              : 122px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 122px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .camera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 19px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .camera1 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 19px;
  width               : 25px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .camera1 .group .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .camera1 .group .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 19px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .camera1 .group .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .camera1 .group .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .location1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 28px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .location1 .nounlocation2736912 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .location1 .nounlocation2736912 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .location1 .nounlocation2736912 .group .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .nouncamera2738293 .location1 .nounlocation2736912 .group .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .video1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 15px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .video1 .nounvideo2073174 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 25px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .video1 .nounvideo2073174 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 25px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .video1 .nounvideo2073174 .group .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .video1 .nounvideo2073174 .group .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .event1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 26px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .event1 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 23px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .event1 .group4 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .nounevent2075560 .event1 .group4 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .camera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 12.0px;
}
.nuemessage2 .video {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 224px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 12.0px;
}
.nuemessage2 .photos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(97, 85, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 12.0px;
}
.nuemessage2 .attachement {
  background-color    : rgba(255,255,255,0.0);
  top                 : 555px;
  height              : 23px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .attachement .nounpaperclip135368 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 25px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .attachement .nounpaperclip135368 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage2 .ixdclassofu201822 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 433px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(156, 157, 185, 1.0);
  text-align          : left;
  letter-spacing      : 0.17px;
  line-height         : 14.0px;
}
.nuemessage2 .clairhardy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 413px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(45, 49, 66, 1.0);
  text-align          : left;
  letter-spacing      : 0.2px;
  line-height         : 14.0px;
}
.nuemessage2 .userphotocopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 349px;
  height              : 53px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}