
@font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Regular";
                          src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Impact";
                          src: url('../fonts/Impact.ttf') format("truetype");
                        }
                        
.nuemessage3copy {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(76, 76, 76, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.nuemessage3copy .morganlee {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.2px;
  line-height         : 14.0px;
}
.nuemessage3copy .sarahroberts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 348px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 271px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.2px;
  line-height         : 14.0px;
}
.nuemessage3copy .iconcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 106px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 328px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iconcamera .color {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .action {
  background-color    : rgba(255,255,255,0.0);
  top                 : 749px;
  height              : 60px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .action .rectangle1 {
  background-color    : rgba(244, 246, 250, 1.0);
  top                 : 1px;
  height              : 59px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .action .buttonmini {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 35px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .action .buttonmini .playbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 90px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .action .buttonmini .playbutton .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .action .buttonmini .playbutton .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.nuemessage3copy .action .divider {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .action .divider .divider1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .ovalcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 149px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .ovalcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(45, 49, 66, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.nuemessage3copy .ixdclassofu201822 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 225px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(156, 157, 185, 1.0);
  text-align          : left;
  letter-spacing      : 0.17px;
  line-height         : 14.0px;
}
.nuemessage3copy .ixdclassofu201824 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 368px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(156, 157, 185, 1.0);
  text-align          : left;
  letter-spacing      : 0.17px;
  line-height         : 14.0px;
}
.nuemessage3copy .today {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(156, 157, 185, 1.0);
  text-align          : left;
  letter-spacing      : 0.17px;
  line-height         : 14.0px;
}
.nuemessage3copy .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 276px;
  height              : 2px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .line4copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 276px;
  height              : 2px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 218px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .nuevideoclip {
  min-height          : 750px;
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92vh;
  min-width          : 375px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 764px;
  height              : 30px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 765px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .group2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .group2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
}
.nuemessage3copy .group2 .group .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .group2 .group .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 809px;
  height              : 2px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .writeamessageu2026 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 771px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.nuemessage3copy .exit2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 33px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .exit2 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .exit2 .iconcameracopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .exit2 .iconcameracopy .color {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 12px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 336px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery .border {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  box-sizing          : border-box;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.35;
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery .cap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 4px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .battery .capacity {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2px;
  height              : 7px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-radius       : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 11px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 316px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .cellularconnection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 11px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 294px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 21px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .u21b3time {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Semibold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.28px;
  line-height         : 16.0px;
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .u21b3time .span1 {
  
}
.nuemessage3copy .iphonexstatusbarsstatusbarwhite .iphonexstatusbarsstatusbarblack .timestyle .u21b3time .span2 {
  
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}