
@font-face {
    font-family: "SFProDisplay-Regular";
    src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
}
@font-face {
    font-family: "SFProText-Semibold";
    src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
}


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(244, 246, 250, 1);
}

.card-arcticle {
    font-family: 'SFProDisplay-Regular',Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 375px;
    margin: auto;
    font-family: arial;
    cursor: pointer;
    margin-bottom: 40px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
} 



card-arcticle:hover, a:hover {
opacity: 0.7;
}


.like1 {
    color: grey;
}

.like2 {
    color: red;
}

